{% extends 'admin/index.html.twig' %}


{% block body %}
{{ parent() }}

<div class="row mt-4">
<div class="col-md-10 row m-auto">
    <h2 class="col-sm-12">{{ questionnaire.thematique.nom | upper }} : {{ questionnaire.titre }}</h2>
    <div class="jumbotron col-md-4">
        <h2>Ajouter une question</h2>

        {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.intitule, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group row ml-2">
                {{ form_row(form.reponse1, {'attr': {'class': 'mr-2 ml-2'}}) }} {{ form_row(form.value1, {'attr': {'class': 'ml-2'}}) }}
            </div>
            <div class="form-group row ml-2">
                {{ form_row(form.reponse2, {'attr': {'class': 'mr-2 ml-2'}}) }} {{ form_row(form.value2, {'attr': {'class': 'ml-2'}}) }}
            </div>
            <div class="form-group row ml-2">
                {{ form_row(form.reponse3, {'attr': {'class': 'mr-2 ml-2'}}) }} {{ form_row(form.value3, {'attr': {'class': 'ml-2'}}) }}
            </div>
            <div class="form-group row ml-2">
                {{ form_row(form.reponse4, {'attr': {'class': 'mr-2 ml-2'}}) }} {{ form_row(form.value4, {'attr': {'class': 'ml-2'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.creer, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        {{ form_end(form) }}

    </div>

    <div class="col-md-8">
        <ul class="list-group">
            {% for question in questions %}
            <li class="list-group-item">
                <p>{{ loop.index }}. {{ question.intitule }}</p> 
                
                    {% for reponse in question.reponses %}
                    <div>
                        <label for="{{ question.id }}-{{ reponse.id }}">{{ reponse.libelle }}</label>
                        <input type="radio" id="{{ question.id }}-{{ reponse.id }}" name="{{ question.id }}" value="{{ reponse.id }}">
                    </div>
                    {% endfor %}
                
            </li>
            {% endfor %}
        </ul>
    <div>
</div>
</div>

{% endblock %}
