{% extends 'base.html.twig' %}

{% block title %}{{ questionnaire.titre }}{% endblock %}

{% block body %}
<div class="mt-4 row">

    <h2 class="text-primary col-md-10 col-lg-8 m-auto pb-2">[{{ questionnaire.thematique.nom | upper }}] {{ questionnaire.titre }}</h2>
    <form class="col-md-10 col-lg-8 m-auto" action="{{ path('result') }}" method="post">

        <ul class="list-group">

            {% for question in questions %}
            <li class="list-group-item">
                <p class="text-primary">{{ loop.index }}. {{ question.intitule }}</p> 
                
                    {% for reponse in question.reponses %}
                    <div>
                        <label for="{{ question.id }}-{{ reponse.id }}">{{ reponse.libelle }}</label>
                        <input type="radio" id="{{ question.id }}-{{ reponse.id }}" name="{{ question.id }}" value="{{ reponse.id }}">
                    </div>
                    {% endfor %}
                
            </li>
            {% endfor %}

        </ul>
        
        <input class="btn btn-primary mt-4" type="submit" value="Je valide mes réponses !">

    </form>
<div>
{% endblock %}
