{% extends 'base.html.twig' %}

{% block title %}{{ questionnaire.titre }}{% endblock %}

{% block body %}
<div class="mt-4">

    <form action="{{ path('result') }}" method="post">

        <ul class="list-group">

            {% for question in questions %}
            <li class="list-group-item">
                <p>{{ loop.index }}. {{ question.intitule }}</p> 
                
                    {% for reponse in question.reponses %}
                    <div>
                        <label for="{{ question.id }}-{{ reponse.id }}">{{ reponse.libelle }}</label>
                        <input type="radio" id="{{ question.id }}-{{ reponse.id }}" name="{{ question.id }}" value="{{ reponse.id }}">
                    </div>
                    {% endfor %}
                
            </li>
            {% endfor %}

        </ul>
        
        <input type="submit" value="Je valide mes réponses !">

    </form>
<div>
{% endblock %}
